/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d0d0d0;
    box-shadow: 0 1px 16px 10px rgb(64 64 64 / 8%);
    ul{
        display: flex;
        gap: 2rem;
        list-style: none;
        font-size: 16px;
        color: #404040;
        font-family: knowledge-medium,Arial,sans-serif;
        font-weight: 500;
    }
}

.RoutersLogo{
    width: 190px;
    height: 50px;
    margin-top: 0.2rem;
}

.nav-right{
    display: flex;
    padding-left: 3.5rem;
    align-items: center;
    gap: 1rem;
    .nav-myview__icon__2KlHc {
        width: auto;
        height: 20px;
        fill: #666;
    }
    .view-p{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        font-family: knowledge-medium,Arial,sans-serif;
        font-size: 14px;
        .nav-myview__chevron__2oN3V{
            width: 10px;
            fill: #404040;
        } 
    }
    .buttons{
        display: flex;
        flex-direction: row;
        gap: 0.6rem;
        .butonin{
            font-family: knowledge-medium,Arial,sans-serif;
            border-color: #949494;
            background: #fff;
            color: #666;
            text-decoration: none;
            border: 1px solid;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 10px;
            font-weight: bold;
        }
        .butonreg{
            font-family: knowledge-medium,Arial,sans-serif;
            border-color: transparent;
            background: #000;
            color: #fff;
            text-decoration: none;
            border: 1px solid;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 10px;
            font-weight: bold;
        }
    }
}

.price{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 23rem;
    box-shadow: 0 1px 16px 10px rgb(64 64 64 / 8%);
    ul{
        list-style: none;
        display: flex;
        gap: 4rem;
        li{
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
        }
    }

    .href{
        line-height: 22px;
        font-size: 14px;
        color: #404040;
        font-family: knowledge-medium,Arial,sans-serif;
        font-weight: 600;
        text-decoration: none;
    }
    
    .textspan{
        font-family: knowledge-regular,Arial,sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
}



