.firstnews{
    display: grid;
    padding-top: 0.5rem;
    grid-template-columns: repeat(4,1fr);
    font-family: knowledge-medium,Arial,sans-serif;
    .secondgrid{
        grid-column-start: 2;
        grid-column-end: 3;
        .post-card{
            border-bottom: 1px solid #d0d0d0;
            padding-bottom: 1.5rem;
            padding-top: 1.5rem;
        }
        a{
            text-decoration: none;
        }
        h1{
            font-size: 32px;
            line-height: 1.2;
            font-weight: bold;
        }
        h5{
            padding-bottom: 0.3rem;
        }
        img{
            padding-top: 1rem;
            padding-bottom: 1rem;
            width: 450px;
            height: 300px;
            border-radius: 35px;
        }
        p{
            font-size: 14px;
            line-height: 1.43;
        }
    }
}